<div class="container">
  <h1 class="text-center">Achievement Calendar</h1>
  <div  class="card mt-3" style="width: 18rem;">
    <img
      src="https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2018Q1/smart-goals/smart-goals-header@2x.png"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Title</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Category</li>
      <li class="list-group-item">Date</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
    </div>
  </div>
</div>
