<div class="container fluid">
  <h1 class="text-center my-4">Achievement Calendar</h1>


<div class="card text-center mb-5">
  <div class="card-header">
    January
  </div>
  <div class="card-group">

  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-link text-start" href="">Ivar Brandt</a></li>
    </ul>

    <img src="https://miro.medium.com/max/3840/1*k6jZM6S5f04GQJKCzkhxRA.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New PR!</h5>
    </div>


<ul class="list-group list-group-flush">
      <li class="list-group-item">Fitness</li>
      <li class="list-group-item">4 days ago</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
      <a href="#" class="card-link">Like</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">4 people liked this</small>
    </div>
  </div>
    <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-link text-start" href="">Ivar Brandt</a></li>
    </ul>

    <img src="https://miro.medium.com/max/3840/1*k6jZM6S5f04GQJKCzkhxRA.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New PR!</h5>
    </div>


<ul class="list-group list-group-flush">
      <li class="list-group-item">Fitness</li>
      <li class="list-group-item">4 days ago</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
      <a href="#" class="card-link">Like</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">4 people liked this</small>
    </div>
  </div>

      <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-link text-start" href="">Ivar Brandt</a></li>
    </ul>

    <img src="https://miro.medium.com/max/3840/1*k6jZM6S5f04GQJKCzkhxRA.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New PR!</h5>
    </div>


<ul class="list-group list-group-flush">
      <li class="list-group-item">Fitness</li>
      <li class="list-group-item">4 days ago</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
      <a href="#" class="card-link">Like</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">4 people liked this</small>
    </div>
  </div>

    <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-link text-start" href="">Ivar Brandt</a></li>
    </ul>

    <img src="https://miro.medium.com/max/3840/1*k6jZM6S5f04GQJKCzkhxRA.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New PR!</h5>
    </div>


<ul class="list-group list-group-flush">
      <li class="list-group-item">Fitness</li>
      <li class="list-group-item">4 days ago</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
      <a href="#" class="card-link">Like</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">4 people liked this</small>
    </div>
  </div>


</div>
</div>

<div class="card text-center mb-5">
  <div class="card-header">
    February
  </div>
  <div class="card-group">

  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-link text-start" href="">Ivar Brandt</a></li>
    </ul>

    <img src="https://miro.medium.com/max/3840/1*k6jZM6S5f04GQJKCzkhxRA.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New PR!</h5>
    </div>


<ul class="list-group list-group-flush">
      <li class="list-group-item">Fitness</li>
      <li class="list-group-item">4 days ago</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
      <a href="#" class="card-link">Like</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">4 people liked this</small>
    </div>
  </div>
    <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-link text-start" href="">Ivar Brandt</a></li>
    </ul>

    <img src="https://miro.medium.com/max/3840/1*k6jZM6S5f04GQJKCzkhxRA.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New PR!</h5>
    </div>


<ul class="list-group list-group-flush">
      <li class="list-group-item">Fitness</li>
      <li class="list-group-item">4 days ago</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
      <a href="#" class="card-link">Like</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">4 people liked this</small>
    </div>
  </div>

      <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-link text-start" href="">Ivar Brandt</a></li>
    </ul>

    <img src="https://miro.medium.com/max/3840/1*k6jZM6S5f04GQJKCzkhxRA.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New PR!</h5>
    </div>


<ul class="list-group list-group-flush">
      <li class="list-group-item">Fitness</li>
      <li class="list-group-item">4 days ago</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
      <a href="#" class="card-link">Like</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">4 people liked this</small>
    </div>
  </div>

    <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="card-link text-start" href="">Ivar Brandt</a></li>
    </ul>

    <img src="https://miro.medium.com/max/3840/1*k6jZM6S5f04GQJKCzkhxRA.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">New PR!</h5>
    </div>


<ul class="list-group list-group-flush">
      <li class="list-group-item">Fitness</li>
      <li class="list-group-item">4 days ago</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Details</a>
      <a href="#" class="card-link">Comment</a>
      <a href="#" class="card-link">Like</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">4 people liked this</small>
    </div>
  </div>


</div>
</div>


