<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="text-center">Join a Family</h1>
      <ul class="list-group" *ngFor="let family of families">
        <button (click)="" class="list-group-item list-group-item-action">
          {{ family.name }}
        </button>
      </ul>
    </div>
    <div class="col text-center">
      <h1 class="text-center">Create a family</h1>
      <a [routerLink]="['families/new']">Click here!</a>
    </div>
  </div>
</div>
